---
title: Soapbox
layout: default
description: In an attempt to practice expressing my opinions more, I've created this page to store all my half-baked opinions about things.
---
<div class="writing-index">
  <h2>
    <img src="{{ '/assets/images/icons/winrep-1.png' | relative_url }}" role="presentation">
    Soapbox
  </h2>
  <p class="lead">In an attempt to practice expressing my opinions more, I've created this page to store all my half-baked opinions about things.</p>

  <ol class="writing-list">
    <li>
      <a href="{{ collection_page.url | relative_url }}" class="icon-link">
        <img src="{{ '/assets/images/icons/directory.png' | relative_url }}" role="presentation" class="icon-32">
      </a>
      <div>
        <a href="{{ '/writing.html' | relative_url }}">Back to writing index</a>
        <p>Return to the main writing index.</p>
        <div class="small text-muted">
          Tags: not soapbox
        </div>
    </li>

    {% for collection_page in site.soapbox %}
      {% if collection_page.list != "unlisted" %}
        <li>
          <a href="{{ collection_page.url | relative_url }}" class="icon-link">
            <img src="{{ '/assets/images/icons/winrep-1.png' | relative_url }}" role="presentation" class="icon-32">
          </a>
          <div>
            <a href="{{ collection_page.url | relative_url }}">{{ collection_page.title }}</a>
            <p>{{ collection_page.description }}</p>
            <div class="small text-muted">
              Tags: {{ collection_page.tags | join: ", " }}
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>