---
title: Software
layout: default
---
<div>
  <h2>
    <img src="{{ '/assets/images/icons/appwizard-2.png' | relative_url }}" role="presentation" class="icon-32">
    Software
  </h2>
  <p class="lead">Looking for computer art demos? <a href="{{ '/demos.html' | relative_url }}">Click here instead</a>.</p>

  <ol class="big-nav">
  {% for program in site.software %}
    <li>
      {% if program.realurl %}
        <a href="{{ program.realurl }}" class="icon-link">
          <img src="{{ program.icon | relative_url }}" role="presentation" class="icon-32">
        </a>
        <div>
          <a href="{{ program.realurl }}">{{ program.title }}</a>
          <p>{{ program.description }}</p>
        </div>
      {% else %}
        <a href="{{ program.url | relative_url }}" class="icon-link">
          <img src="{{ program.icon | relative_url }}" role="presentation" class="icon-32">
        </a>
        <div>
          <a href="{{ program.url | relative_url }}">{{ program.title }}</a>
          <p>{{ program.description }}</p>
        </div>
      {% endif %}
    </li>
  {% endfor %}
  </ol>
</div>