---
title: Writing
layout: default
---
<div class="writing-index">
  <h2>
    <img src="{{ '/assets/images/icons/winrep-1.png' | relative_url }}" role="presentation">
    Writing
  </h2>

  <ol class="writing-list">
  {% for collection_page in site.writing %}
    {% if collection_page.list != "unlisted" %}
      <li>
        <a href="{{ collection_page.url | relative_url }}" class="icon-link">
          <img src="{{ '/assets/images/icons/winrep-1.png' | relative_url }}" role="presentation" class="icon-32">
        </a>
        <div>
          <a href="{{ collection_page.url | relative_url }}">{{ collection_page.title }}</a>
          <p>{{ collection_page.description }}</p>
          <div class="small text-muted">
            Tags: {{ collection_page.tags | join: ", " }}
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}
  </ol>
</div>