<footer class="container footer">
  <hr>
  <div class="row">
    <div class="col">
      {% if site.url == "https://tilde.town" %}
        {% include tilde-webring.html %}
      {% endif %}
    </div>
    <div class="col badges">
      <img src="assets/images/88x11/gnu-linux.gif" alt="An old 88x11 badge that says 'Made in GNU Linux'">
      <img src="assets/images/88x11/ie_exploder.gif" alt="An old 88x11 badge that says 'Microsoft Internet Exploder' and the IE logo explodes">
      <img src="assets/images/88x11/noframes3.gif" alt="An old 88x11 badge that says 'Campaign against frames!'">
    </div>
  </div>
</footer>