<header class="header">
  <div class="row">
    <div class="logo col-lg">
      <img src="{{ '/assets/images/malaszec-logo-inverted.svg' | relative_url }}">
      <div class="logo-text">
        <h1>Pilosophos' Circle</h1>
        <span class="tagline">Ideas half-baked to perfection</span>
      </div>
    </div>
    <nav class="col-lg header-style-nav">
      <ul>
        <li><a href="{{'/index.html' | relative_url }}"><img src="{{ '/assets/images/icons/tiny/homepage-3.png' | relative_url }}" role="presentation" class="icon-16">Home</a></li>
        <li><a href="{{'/interests.html' | relative_url }}"><img src="{{ '/assets/images/icons/tiny/paint_old-1.png' | relative_url }}" role="presentation" class="icon-16">Interests</a></li>
        <li><a href="{{'/recommendations.html' | relative_url }}"><img src="{{ '/assets/images/icons/tiny/trust0-1.png' | relative_url }}" role="presentation" class="icon-16">Recommendations</a></li>
        <li><a href="{{'/homelab.html' | relative_url }}"><img src="{{ '/assets/images/icons/tiny/network_normal_two_pcs-1.png' | relative_url }}" role="presentation" class="icon-16">Homelab</a></li>
        <li><a href="{{'/writing.html' | relative_url }}"><img src="{{ '/assets/images/icons/tiny/winrep-0.png' | relative_url }}" role="presentation" class="icon-16">Writing</a></li>
        <li><a href="{{'/software.html' | relative_url }}"><img src="{{ '/assets/images/icons/tiny/appwizard-0.png' | relative_url }}" role="presentation" class="icon-16">Software</a></li>
        <li><a href="https://tilde.town/~pilosophos/town.html"><img src="{{ '/assets/images/icons/address_book_home.png' | relative_url }}" role="presentation" class="icon-16">Town&nbsp;goodies</a></li>
      </ul>
    </nav>
  </div>
  <hr>
</header>