<header class="header">
  <div class="row">
    <div class="logo col-lg">
      <img src="assets/images/malaszec-logo-inverted.svg">
      <div class="logo-text">
        <h1>Pilosophos' Circle</h1>
        <span class="tagline">Ideas half-baked to perfection</span>
      </div>
    </div>
    <nav class="col-lg">
      <ul>
        <li><a href="index.html"><img src="assets/images/icons/tiny/homepage-3.png" role="presentation"> Home</a></li>
        <li><a href="interests.html"><img src="assets/images/icons/tiny/paint_old-1.png" role="presentation"> Interests</a></li>
        <li><a href="homelab.html"><img src="assets/images/icons/tiny/network_normal_two_pcs-1.png" role="presentation"> Homelab</a></li>
      </ul>
    </nav>
  </div>
  <hr>
</header>