<link rel="me" href="https://tiny.tilde.website/@pilosophos" />

<meta property="og:title" content="{{ page.title }} | Pilosophos' Circle" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:image" content="{{ '/assets/images/malaszec-pfp.png' | absolute_url }}" />
{% if page.description %}
  <meta property="og:description" content="{{ page.description }}" />
  <meta name="description" content="{{ page.description }}">
{% else %}
  <meta property="og:description" content="The personal website of pilosophos, a cool guy on the internet." />
  <meta name="description" content="The personal website of pilosophos, a cool guy on the internet.">
{% endif %}

<title>{{ page.title }} | Pilosophos' Circle</title>