<figure class="homelab-diagram ascii-art"><pre><img src="{{ '/assets/images/icons/tiny/world-5.png' | relative_url }}" role="presentation" class="icon-16"> Internet
   ┃
<img src="{{ '/assets/images/icons/tiny/rj_jack-0.png' | relative_url }}" role="presentation"> Router                Netgear R7000
   ┃
   ┣━<img src="{{ '/assets/images/icons/tiny/laptop_small-0.png' | relative_url }}" role="presentation" class="icon-16"> Main computer    HP Omen 15 (2017)
   ┣━<img src="{{ '/assets/images/icons/tiny/laptop_small-0.png' | relative_url }}" role="presentation" class="icon-16"> Home server      Lenovo Ideapad Y50-70
   ┣━<img src="{{ '/assets/images/icons/tiny/laptop_small-0.png' | relative_url }}" role="presentation" class="icon-16"> Travel computer  Lenovo Thinkpad L420
   ┗━<img src="{{ '/assets/images/icons/tiny/modem-1.png' | relative_url }}" role="presentation" class="icon-16"> 3D print server  Samsung Galaxy S4
     ┗━<img src="{{ '/assets/images/icons/tiny/printer_desk-1.png' | relative_url }}" role="presentation" class="icon-16"> 3D printer     Ender 3
</pre></figure>