<div id="tilde_ring">
  <span class="label">tilde.town ~ring</span>
  <div class="d-inline-block">
    <nav class="d-flex flex-column flex-lg-row">
      <a id="tilde_town_ring" class="tilde_ring_link" href="">random&nbsp;~user</a>
      <a id="random_tildebox" class="tilde_ring_link" href="">random&nbsp;~box</a>
      <a id="tilde_town_ring_next" class="tilde_ring_link" href="">next&nbsp;~user</a>
      <a href="https://tilde.town/~um/tilde_ring/join.html">join</a>
    </nav>
  </div>


  <script type="text/javascript">
    var ringjs = document.createElement('script')
    ringjs.src = document.location.protocol + '//tilde.town/~um/tilde_ring/tilde_ring.js'
    document.getElementById('tilde_ring').appendChild(ringjs)
  </script>
</div>