.blink {
  animation: blinker 4s cubic-bezier(.55,.06,.68,.19) infinite;
}

.hard-blink {
    animation: hard-blinker 1.5s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }
}

@keyframes hard-blinker {
  50% {
    opacity: 0;
  }
}