.icon-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;

  li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

#other-places {
  >header {
    text-align: center;

    h4 {
      font-size: 1.2rem;
    }
  }
}