.botany {
  .botany-plant {
    @extend .row;
    @extend .mb-5;
    
    @extend .flex-md-row;
    flex-direction: column;
    
    .botany-art {
      @extend .col;
      @extend .ascii-art;

      display: flex;
      justify-content: center;

      pre {
        overflow: unset;
      }
    }

    .botany-info {
      @extend .col;

      h3 {
        text-align: left;
      }

      .water-meter {
        letter-spacing: -1px;
        margin-right: .5em;
      }
    }
  }
}