.badge-list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  .badge-link {
    text-decoration: none;

    >span {
      @extend .h5;
      @extend .mb-3;

      text-decoration: underline;
      text-decoration-style: dotted;
      vertical-align: middle;
    }
  }
}