---
---
@import "overrides/colors";
@import "bootstrap/bootstrap";

@import "includes/header";
@import "includes/footer";

@import "interests";
@import "homelab";

h1, h2, h3, h4, h5, h6 {
  >img {
    vertical-align: text-top;
  }
}

h2 {
  text-align: center;
}

a {
  text-decoration-style: dotted;
}

.icon-32 {
  height: 32px;
}

.icon-16 {
  height: 16px;
}

figure {
  @extend .p-2;
  
  display: table;

  figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
  }
}

.text-smallcaps {
  font-variant: small-caps;
}

main>section {
  @extend .mb-5;
}