---
---
@import "overrides/colors";
@import "bootstrap/bootstrap";

@import "includes/header";
@import "includes/footer";

@import "homelab";
@import "index";

h1, h2, h3, h4, h5, h6 {
  >img {
    vertical-align: text-top;
  }
}

h2 {
  text-align: center;
}

a {
  text-decoration-style: dotted;
}

.icon-32 {
  height: 32px;
}

.icon-16 {
  height: 16px;
}

figure {
  @extend .p-2;
  
  display: table;

  figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
  }
}

.text-smallcaps {
  font-variant: small-caps;
}

main>section {
  @extend .mb-5;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  line-height: 1.3em;
}

dl {
  ul {
    padding-left: 1em;
  }

  >div {
    @extend .row;

    >dt {
      @extend .col;
      @extend .col-md-3;
    }

    >dd {
      @extend .col;
    }
  }
}

.geek-code {
  .gc-divider {
    overflow: visible;
    text-align: center;
    height: 5px;

    &:after {
      padding: 0 4px;
      position: relative;
      top: -1.1em;
      background-color: $body-bg;
      font-size: small;
    }
  }

  .gc-begin:after {
    content: "BEGIN GEEK CODE BLOCK (Version: 3.12)";
  }

  .gc-end:after {
    content: "END GEEK CODE BLOCK";
  }
}