.mosaic-tetris {
  .downloads {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
      @extend .px-lg-5;
      @extend .px-3;

      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  @include media-breakpoint-down(md) {
    #controls {
      width: 100% !important;
    }
  }

  #controls {
    dt {
      padding-left: 0;
    }
  }
}