.tilde-town-transit {
  .roundel-large {
    height: 5rem;
    width: 5rem;
  }

  .roundel-small {
    height: 2.5rem;
    width: 2.5rem;
  }

  > section {
    @extend .mb-5;
    
    > section {
      @extend .mb-3;
    }
  }

  .infobox {
    @extend .float-md-end;
    @extend .ms-3;
    @extend .p-3;
    @extend .border-top;
    @extend .border-bottom;

    width: 20rem;

    .routes {
      @extend .mb-3;

      text-align: center;
    }

    >dl {
      margin-bottom: 0;
    }
  }
}