.header {
  @extend .container;
  @extend .mt-3;
  
  .logo {
    display: flex;
    align-items: center;

    @extend .justify-content-lg-start;
    justify-content: center; 
    
    img {
      height: 4em;
    }
    
    .logo-text {
      @extend .ms-3;
  
      text-align: center;
      width: fit-content;
  
      h1 {
        font-weight: 900;
        margin-bottom: 0;
      }
  
      .tagline {
        font-family: $font-family-monospace;
        margin-bottom: 0;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;

    @extend .justify-content-lg-start;
    justify-content: center; 

    @extend .mt-lg-0;
    @extend .mt-3;

    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;
      column-gap: 1em;
      row-gap: 1em;

      li {
        @extend .mx-1;
        @extend .mx-lg-0;
        
        display: block;
        white-space: nowrap;

        .icon-16 {
          margin-right: .15em;
        }
      }
    }
  }
}