---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ '/assets/css/nonlinear.css' | relative_url }}">
  <title>{{ page.title }} | Pilosophos' Circle</title>
</head>
<body>
  <h2>{{ page.title }}</h2>
  <main class="nonlinear">{{ content }}</main>

  <script src="{{ '/assets/js/leader-line.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/nonlinear.js' | relative_url }}"></script>
</body>
</html>