<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include favicon.html %}

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% include head-meta.html %}
</head>
<body>
  {% include header.html %}

  <div class="container">
    <nav class="mb-3">
      <a href="{{ '/soapbox.html' | relative_url }}">
        <img src="{{ '/assets/images/icons/tiny/winrep-0.png' | relative_url }}" role="presentation" class="icon-16">
        Back to soapbox index
      </a>
    </nav>
    <main class="writing">{{ content }}</main>
  </div>

  {% include footer.html %}
</body>
</html>