$body-bg: rgb(56, 56, 63);
$body-color: white;
$primary: rgb(158, 236, 236);
$text-muted: rgb(165, 165, 165);
$code-color: rgb(255, 144, 231);

.alert.alert-warning {
  --bs-alert-color: #{rgb(255, 191, 0)};
  --bs-alert-bg: #{rgba(255, 191, 0, 0.05)};
  --bs-alert-border-color: #{rgb(255, 191, 0)};
}
