@font-face {
  font-family: "NEC";
  src: url($nec-font-url);
}

@font-face {
  font-family: "Terminus";
  src: url($terminus-font-url);
  size-adjust: 110%;
}

@font-face {
  font-family: "DOSV JPN24";
  src: url($dosvjpn-font-url);
}

@font-face {
  font-family: "PressStart2P";
  src: url($pressstart-font-url);
  size-adjust: 70%;
}

$font-family-base: "NEC",
  // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: "DOSV JPN24", monospace;
$font-family-ascii-art: "NEC", monospace;
$font-size-base: 1rem;